:root {
    --pulse-glow-light: rgb(255, 255, 255);
    --pulse-glow-dark: rgba(0, 0, 0, 0.8);
}

[data-theme="light"] {
    --pulse-glow-color: var(--pulse-glow-dark);
}

[data-theme="dark"] {
    --pulse-glow-color: var(--pulse-glow-light);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 10px rgba(221, 222, 221, 0.5);
    }
    50% {
        box-shadow: 0 0 20px var(--pulse-glow-color);
    }
    100% {
        box-shadow: 0 0 10px rgba(221, 222, 221, 0.5);
    }
}

@keyframes expandCollapse {
    from {
        opacity: 0;
        transform: scaleY(0);
    }
    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes highlightSelection {
    0% {
        background-color: rgba(0, 0, 0, 0.1);
    }
    50% {
        background-color: rgba(0, 0, 0, 0.3);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.select-input-wrapper {
    position: relative;
}

.MuiSelect-root {
    transition: background-color 0.3s ease-in-out;
    animation: expandCollapse 0.3s ease-in-out;
}

.MuiMenuItem-root {
    transition: background-color 0.3s ease-in-out;
}

.MuiMenuItem-root.Mui-selected {
    animation: highlightSelection 0.5s ease-in-out;
}

.fadeInUp {
    animation: fadeInUp 1s ease-out;
}

.slideIn {
    animation: slideIn 0.8s ease-out;
}

.rotateZoomFade {
    animation: rotateZoomFade 3s infinite ease-in-out;
}

.pulseGlow {
    animation: pulseGlow 2s infinite;
}
